@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Error: " + ViewData["Title"];
}
else if (Context.Request.Method == "POST")
{
    ViewData["Title"] = "Results: " + ViewData["Title"];
}

<title>@ViewData["Title"] - Get information about pupils - GOV.UK</title>