<div id="session-expire-warning-modal-overlay" class="webapp-timeout-overlay" hidden>
    <dialog class="webapp-timeout-dialog"
            data-module="govuk-timeout-warning"
            id="session-expire-warning-modal"
            aria-live="polite"
            aria-describedby="webapp-timeout-message"
            aria-hidden="true"
            data-keyboard="false"
            data-backdrop="static"
            tabindex="-1"
            role="dialog"
            aria-labelledby="webapp-timeout-dialog-heading">
        <h1 id="webapp-timeout-dialog-heading" class="webapp-timeout--heading">
            You’re about to be signed out
        </h1>
        <div class="webapp-timeout-dialog__message">
            <div id="webapp-timeout-message" class="timer" aria-hidden="true" aria-relevant="additions">
                For your security, we will sign you out in <span class="webapp-timeout-dialog__countdown" id="seconds-timer"></span>.
            </div>
        </div>
        <p>
            <button id="btnContinue" type="button" class="govuk-button dialog-button js-dialog-close" data-module="govuk-button">Stay signed in</button>
            <a class="govuk-link webapp-timeout-dialog__link" id="btnExitService">Sign out</a>
        </p>
    </dialog>
</div>