@model DfE.GIAP.Web.ViewModels.Search.LearnerNumberSearchViewModel

@if (Model.NoPupilSelected)
{
    <div class="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="heading--errormessage">There is a problem</h2>
        <span id="results--heading-errormessage" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            You have not selected any pupils
        </span>
    </div>
}