@model LearnerNumberSearchViewModel

@if (Model.Learners.Any() || Model.NotFound.Any() || Model.Invalid.Any() || Model.Duplicates.Any())
{
    <partial name="~/Views/Shared/LearnerNumber/_NoPupilSelectedError.cshtml" model="@Model" />
    <h2 class="govuk-heading-l" id="results--heading">Results</h2>
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
    <partial name="~/Views/Shared/LearnerNumber/_SearchResults.cshtml" model="@Model" />
}
else
{
    <input id="pupil-list--search--textbox" data-tableprefix="search--search-pupils" type="hidden" value="">
    <input id="pupil-list--page-size--textbox" type="hidden" value="">
    <input id="pupil-list--missing-data-list--textbox" type="hidden" value="">
    <input id="pupil-list--search-error-detail--textbox" type="hidden" value="">
}
