@model LearnerNumberSearchViewModel

@if (Model.LearnerNumber.Length > 0)
{
    <input type="hidden" name="ReturnLearnerNumbers" value="@Model.LearnerNumber" />
    <div class="govuk-grid-column-one-quarter">
        <button class="govuk-button govuk-button--secondary" asp-action="DownloadCommonTransferFileData" id="search--download--as--CTF--link" name="downloadASCTF" value="selected" type="submit">
            @Model.DownloadSelectedASCTFLink
        </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <button class="govuk-button govuk-list govuk-button--secondary" asp-action="ToDownloadSelectedNPDDataUPN" id="download--selected--npd--data--link" type="submit">
            @Model.DownloadSelectedLink
        </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <button class="govuk-button govuk-list govuk-button--secondary" asp-action="NPDAddToMyPupilList" id="search--my-pupil--List--link" name="myPupilList" value="selected" type="submit">
            @Model.AddSelectedToMyPupilListLink
        </button>
    </div>
}
