version: 2

registries:
  github-nuget:
    type: nuget-feed
    url: https://nuget.pkg.github.com/DFE-Digital/index.json
    token: ${{ secrets.DEPENDABOT_DFEDIGITAL_NUGETFEED_TOKEN }}

updates:
  - package-ecosystem: "npm"
    directory: "/DfE.GIAP.All/DfE.GIAP.Web"
    schedule:
      interval: "daily"

  - package-ecosystem: "nuget"
    directory: "/DfE.GIAP.All"
    registries:
      - github-nuget
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
