@model AdminViewModel
@{
    ViewBag.Title = "Download by school or college";
}

<a class="govuk-back-link" asp-controller="Admin" asp-action="Index" id="admin-dashboard--security-reports-by-school-back-link">
    Back
</a>

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Download by school or college</h1>

    <partial name="_ValidationSummary" model="ViewData.ModelState" />

    <form method="post">
        <div class="govuk-form-group">
            <div class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-visually-hidden">
                        Which organisation do you want to search?
                    </span>
                </legend>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="download-security-reports-by-academy" asp-for="SelectedOrganisationOption" type="radio" value="AcademyTrust">
                        <label class="govuk-label govuk-radios__label" for="download-security-reports-by-academy">
                            Academy trust
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="download-security-reports-by-FE" asp-for="SelectedOrganisationOption" type="radio" value="FurtherEducation">
                        <label class="govuk-label govuk-radios__label" for="download-security-reports-by-FE">
                            Further education
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="download-security-reports-by-LA" asp-for="SelectedOrganisationOption" type="radio" value="LocalAuthority">
                        <label class="govuk-label govuk-radios__label" for="download-security-reports-by-LA">
                            Local authority
                        </label>
                    </div>
                </div>
            </div>
            <br />

            <div id="admin-continue-button--container" class="govuk-width-container">
                <button asp-controller="Admin" asp-action="SchoolCollegeDownloadOptions" id="admin-continue--button" name="continue" value="Continue" class="govuk-button">Continue</button>
            </div>
        </div>
    </form>
</div>