@model SecurityReportsByUpnUlnViewModel
@{
    ViewBag.Title = "Security reports by pupil or student record";
}

<a class="govuk-back-link" asp-controller="Admin" asp-action="Index" id="admin-dashboard--security-reports-by-pupil-student-back-link">
    Back
</a>

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Security reports by pupil or student record</h1>

    @if (!string.IsNullOrEmpty(Model.ErrorDetails))
    {
        <span id="results--detail-errormessage" class="govuk-error-message webapp-error-message">
            <span class="govuk-visually-hidden">Error:</span> @Model.ErrorDetails
        </span>
    }

    <form asp-controller="SecurityReportByPupilStudentRecord" asp-action="DownloadSecurityReportByUpnUln" method="post">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
        <div class="govuk-width-container">
            <label id="security-reports-by-upn-uln--label" class="govuk-label" for="security-reports-by-upn-uln--texbox">Enter a UPN or ULN</label>
            <input type="text" class="govuk-input govuk-input--width-20 @(!ViewData.ModelState.IsValid ? "govuk-textarea--error" : "")" asp-for="@Model.UpnUln" id="security-reports-by-upn-uln--texbox" rows="1" maxlength="13">
        </div>
        <br />

        <button id="security-reports-by-upn-uln-download--button" type="submit" class="govuk-button">
            Download
        </button>
    </form>
</div>