@model NewsViewModel

<div id="news--maintenance--container">
    <h2 class="govuk-heading-m" id="news--plannedwork-heading--text">
        @Model.NewsMaintenance.Title
    </h2>
    <p class="govuk-body" id="news--plannedwork-content--text">
        @Html.Raw(Model.NewsMaintenance.Body)
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>