@model NewsViewModel

<div id="news--publication--container">
    <h2 class="govuk-heading-m" id="news--release-heading--text">
        @Html.Raw(Model.NewsPublication.Title)
    </h2>
    <p class="govuk-body" id="news--release-description--text">
        @Html.Raw(Model.NewsPublication.Body)
        <partial name="_MetadataFilesPartial" />
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>