@model LearnerTextSearchViewModel

@if (Model.NoPupilSelected && !String.IsNullOrEmpty(Model.ErrorDetails) && !Model.ErrorDetails.Equals(CommonErrorMessages.NoPupilsSelected))
{
    <div class="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="heading--errormessage">There is a problem</h2>
        <span id="results--heading-errormessage" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            Please select a pupil.
        </span>
    </div>
}
