@using DfE.GIAP.Web.ViewModels.Search;
@model SearchViewModel

@if (Model.Learners.Any())
{
    <partial name="~/Views/Search/Upn/_NoPupilSelectedError.cshtml" model="@Model" />
    <h2 gds class="webapp-results-underline" id="results--heading">Results</h2>
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
    <partial name="~/Views/Search/Upn/_SearchResults.cshtml" model="@Model" />
}
else
{
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
    <partial name="~/Views/Search/Common/_DataReleaseTimeTable.cshtml" model="@Model.DataReleaseTimeTable" />

    <input id="pupil-list--search--textbox" data-tableprefix="search--search-pupils" type="hidden" value="">
    <input id="pupil-list--page-size--textbox" type="hidden" value="">
    <input id="pupil-list--missing-data-list--textbox" type="hidden" value="">
    <input id="pupil-list--search-error-detail--textbox" type="hidden" value="">
    <ul gds>
        <li>
            <partial name="_MetadataFilesPartial" />
        </li>
    </ul>
}