@model LearnerTextSearchViewModel

<h3 class="govuk-heading-m" id="filter--search">Filter my search</h3>

<div class="govuk-accordion search-filters" data-module="govuk-accordion" id="accordion-default-search-filters">
    <partial name="~/Views/Shared/LearnerText/_SurnameFilter.cshtml" model="Model" />
    @if (Model.ShowMiddleNames)
    {
        <partial name="~/Views/Shared/LearnerText/_MiddleNameFilter.cshtml" model="Model" />
    }
    <partial name="~/Views/Shared/LearnerText/_ForenameFilter.cshtml" model="Model" />
    <partial name="~/Views/Shared/LearnerText/_DOBFilter.cshtml" model="Model" />
    @if (Model.ShowGender)
    {
        <partial name="~/Views/Shared/LearnerText/_GenderFilter.cshtml" model="Model" />
    }
    else
    {
        <partial name="~/Views/Shared/LearnerText/_SexFilter.cshtml" model="Model" />
    }
</div>
