@model LearnerTextSearchViewModel

<div class="govuk-grid-column-one-quarter">
    <button class="govuk-button govuk-button--secondary" asp-action="ToDownloadSelectedFEDataULN" id="download--csv--link" name="downloadASCSV" value="selected" type="submit">
        @Model.DownloadSelectedLink
    </button>
</div>

