@inject ILatestNewsBanner latestNewsBanner

@if (latestNewsBanner.ShowNewsBanner())
{
    <div class="webapp-news-banner" id="news--banner--alert">
        <span class="webapp-news-banner-text govuk-body-s" id="news--banner-message--text">*You have new site news</span>
        <a asp-controller="News" asp-action="DismissNewsBanner" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="webapp-news-banner-link webapp-button-as-link" id="news--banner-dismiss--link">Dismiss</a>
        <a asp-controller="News" asp-action="Index" class="webapp-news-banner-link webapp-button-as-link" id="news--banner-read--link">Read</a>
    </div>
}
