<div class="sidebarNav">
    <section class="popularActivities">
        <h3>Popular activities</h3>
        <ul>
            @if (User.IsAuthenticated())
            {
                <li>
                    <a asp-controller="News" asp-action="Index" class="govuk-link" id="popular-activities--site-news--link">
                        Site news
                    </a>
                </li>

                if (!User.IsOrganisationEstablishmentWithFurtherEducation())
                {
                    <li>
                        <a asp-controller="NPDLearnerNumberSearch" asp-action="NationalPupilDatabase" class="govuk-link" id="popular-activities--search-npd--link">
                            Search NPD using UPNs
                        </a>
                    </li>
                    <li>
                        <a asp-controller="NPDLearnerTextSearch" asp-action="NonUpnNationalPupilDatabase" class="govuk-link" id="popular-activities--search-npd-non-upn--link">
                            Search NPD without UPN
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PupilPremiumLearnerNumber" asp-action="PupilPremium" class="govuk-link" id="popular-activities--search-pp--link">
                            Search pupil premium using UPNs
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PPLearnerTextSearch" asp-action="NonUpnPupilPremiumDatabase" class="govuk-link" id="popular-activities--search-pp-non-upn--link">
                            Search pupil premium without UPN
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PreparedDownloads" asp-action="GetPreparedDownloads" class="govuk-link" id="popular-activities--downloads--link">
                            Data downloads
                        </a>
                    </li>
                }
                if (User.IsOrganisationEstablishmentWithFurtherEducation() || User.IsEstablishmentWithAccessToULNPages() || User.IsDfeUser())
                {
                    <li>
                        <a asp-controller="FELearnerNumber" asp-action="PupilUlnSearch" class="govuk-link" id="popular-activities--search-uln--link">
                            Search FE using ULNs
                        </a>
                    </li>
                    <li>
                        <a asp-controller="FELearnerTextSearch" asp-action="FurtherEducationNonUlnSearch" class="govuk-link" id="popular-activities--search-non-uln--link">
                            Search FE without ULN
                        </a>
                    </li>
                }
                <li>
                    <a class="govuk-link" href="/Glossary/#_TOC8" aria-label="Metadata files" id="popular-activities-metadata-files--link">
                        Metadata files
                    </a>
                </li>
            }
        </ul>
    </section>
</div>