@inject ILatestNewsBanner latestNewsBanner

@if (latestNewsBanner.ShowNewsBanner())
{
    <div class="govuk-phase-banner webapp-news-banner" id="news--banner--alert">
        <div class="govuk-width-container">
            <p class="govuk-phase-banner__content">
                <span class="govuk-phase-banner__text" id="news--banner-message--text">
                    *You have new site news.
                </span>

                <a asp-controller="News"
                   asp-action="DismissNewsBanner"
                   asp-route-returnUrl="@ViewContext.HttpContext.Request.Path"
                   class="govuk-link govuk-link--no-underline govuk-!-margin-left-8"
                   id="news--banner-dismiss--link">
                    Dismiss
                </a>

                <a asp-controller="News"
                   asp-action="Index"
                   class="govuk-link govuk-link--no-underline govuk-!-margin-left-8"
                   id="news--banner-read--link">
                    Read
                </a>
            </p>
        </div>
    </div>
}
