@if (!User.IsOrganisationEstablishmentWithFurtherEducation())
{
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" asp-controller="SearchMyPupilList" asp-action="MyPupilList" id="header--mpl--link">
            My pupil list
        </a>
    </li>
}