<li class="govuk-service-navigation__item">
    <a class="govuk-service-navigation__link" asp-controller="Authentication" asp-action="SignoutDsi" id="header--sign-out--link">
        Sign out
    </a>
</li>