@if (!User.IsOrganisationEstablishmentWithFurtherEducation())
{
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" asp-controller="NPDLearnerNumberSearch" asp-action="NationalPupilDatabase" id="header--search-npd--link">
            Search NPD
        </a>
    </li>
}