@{
    bool isAdmin = User.IsInRole(Role.Admin) || User.IsInRole(Role.Approver);
    if (isAdmin)
    {
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" asp-controller="Admin" asp-action="Index" id="header--admin--link">
                Admin
            </a>
        </li>
    }
}