<feature name=@FeatureFlags.FurtherEducation>
    @{
        var isDfeUser = User.IsDfeUser();
        if (User.IsOrganisationEstablishmentWithFurtherEducation() || User.IsEstablishmentWithAccessToULNPages() || isDfeUser)
        {
            <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" asp-controller="FELearnerNumber" asp-action="PupilUlnSearch" id="header--search-uln--link">
                    Search ULN
                </a>
            </li>
        }
    }
</feature>