@if (!User.IsOrganisationEstablishmentWithFurtherEducation())
{
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" asp-controller="PreparedDownloads" asp-action="GetPreparedDownloads" id="header--downloads--link">
            Data downloads
        </a>
    </li>
}