$govuk-text-colour: #0b0c0c;
$govuk-secondary-text-colour: #505a5f;
$govuk-link-colour: #1d70b8;
$govuk-link-hover-colour: #003078;
$govuk-link-visited-colour: #4c2c92;
$govuk-link-active-colour: #0b0c0c;
$govuk-border-colour: #b1b4b6;
$govuk-input-border-colour: #0b0c0c;
$govuk-focus-colour: #ffdd00;
$govuk-focus-text-colour: #0b0c0c;
$govuk-error-colour: #d4351c;
$govuk-error-colour-background: #d4351c40; 
$govuk-success-colour: #00703c;
$govuk-brand-colour: #1d70b8;
$govuk-confirmation-colour: #ffffff;
$webapp-dark-blue: #144876;
$webapp-header-active: #1d8feb;

$govuk-font-family: "GDS Transport",arial,sans-serif;