@import "colours";

.webapp-news-article {
    padding: 5px 5px 0;

    .webapp-news-article-label {
        color: govuk-colour("green");
        float: right;
        font-weight: 700;
        padding: 10px
    }

    .webapp-news-article-draft {
        background-color: lighten(govuk-colour("brown"), 25%);
    }

    .webapp-news-article-pinned {
        color: govuk-colour("green");
        font-weight: 700;
        float: right;
        padding: 10px;
    }

    .webapp-news-article-draft .webapp-news-article-label {
        color: govuk-colour("black");
    }
}

.webapp-news-banner {
    background-color: govuk-colour("yellow");
    padding-bottom: 15px;
    padding-top: 15px;

    .webapp-news-banner-text {
        margin-left: 20px;
        margin-right: 50px
    }

    .webapp-news-banner-button, .webapp-news-banner-link {
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: 0;
        color: $webapp-dark-blue !important
    }

    ​​​​​.webapp-news-banner-link {
        text-decoration: underline
    }
}
