@{
    ViewData["Title"] = "Error: You do not have access to this service. Please contact your DfE Sign-in (DSI) approver";
}

<div class="govuk-width-container" id="home_user_with_no_role_container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You do not have access to this service. Please contact your DfE Sign-in (DSI) approver.</h1>
            <p class="govuk-body">
                <a class="govuk-link" asp-controller="Landing" asp-action="Index" id="go-home-link">Please return to the home page</a>.
            </p>
        </div>
    </div>
</div>