@model CommonResponseBodyViewModel

@{
    ViewData["TitleInvalid"] = ViewData.ModelState.GetFieldValidationState("DocumentData.Title") == ModelValidationState.Invalid;
    ViewData["BodyInvalid"] = ViewData.ModelState.GetFieldValidationState("DocumentData.Body") == ModelValidationState.Invalid;

}

<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="64">
    <div id="previewTitleTextdiv" class="govuk-form-group @((bool)ViewData["TitleInvalid"] ? " govuk-form-group--error" : "")">
        <label id="lblDocumentData.Title" for="DocumentData_Title" class="govuk-label">
            Title
        </label>
        <span asp-validation-for="Title" class="govuk-error-message"></span>
        <input type="text" class="govuk-input govuk-js-character-count @((bool)ViewData["TitleInvalid"] ? " govuk-input--error" : "")" asp-for="Title" id="DocumentData_Title" aria-describedby="DocumentData_Title-info">
        <div id="DocumentData_Title-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 64 characters
        </div>
    </div>
</div>
<div id="previewBodyTextdiv" class="govuk-form-group @((bool)ViewData["BodyInvalid"] ? " govuk-form-group--error" : "")">
    <label for="DocumentData_Body" id="lblDocumentData.Body" class="govuk-label">Body</label>
    <span asp-validation-for="Body" class="govuk-error-message"></span>
    <textarea class="govuk-textarea @((bool)ViewData["BodyInvalid"] ? " govuk-textarea--error" : "")" asp-for="Body" id="DocumentData_Body" cols="80" rows="5"></textarea>
</div>