@model ManageDocumentsViewModel

@{
    ViewBag.Title = @Model.Confirmation.Title;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        @Model.Confirmation.Title
                    </h1>
                    <div class="govuk-panel__body">
                        @Model.Confirmation.Text
                    </div>
                </div>
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    @Model.Confirmation.Body
                </p>
                <p class="govuk-body">
                    Click <a href="/admin/manage-documents" class="govuk-link">here</a> to return to the start
                </p>
            </div>
        </div>
    </main>
</div>