@model ManageDocumentsViewModel

@{
    ViewBag.Title = "Edit news article";
}

<div class="govuk-width-container">

    <h1 class="govuk-heading-xl">Edit news article</h1>
    @if (Model != null && Model.DocumentData != null)
    {
        <form method="post">
            <partial name="_ValidationSummary" model="ViewData.ModelState" />

            <input type="hidden" asp-for="@Model.SelectedNewsId" />
            <input type="hidden" asp-for="@Model.DocumentData.Id" />

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="DocumentData_Pinned" asp-for="DocumentData.Pinned" name="DocumentData.Pinned" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="DocumentData_Pinned">Pinned</label>
            </div>
            <partial name="~/Views/Admin/ManageDocuments/_DocumentFields.cshtml" for="DocumentData" />

            <div class="govuk-button-group">
                @if (Model?.DocumentList?.DocumentId == DocumentType.Article.ToString())
                {
                    <button asp-controller="ManageDocuments" asp-action="SaveArticleAsDraft" id="save-as-draft--button" name="save-as-draft" value="SaveAsDraft" class="govuk-button govuk-button--secondary">Save as draft</button>
                }

                <button asp-controller="ManageDocuments" asp-action="ManageDocuments" id="discard-news-article--button" name="discard" value="Discard" class="govuk-button govuk-button--secondary">Discard</button>
                <button asp-controller="ManageDocuments" asp-action="PreviewNewsArticle" id="preview-news-article--button" name="preview" value="Preview" class="govuk-button">Preview</button>
            </div>
        </form>
    }
</div>