@model AdminViewModel
@{
    ViewBag.Title = "Admin dashboard";
}

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Admin</h1>

    <form method="post">
        <div class="govuk-form-group">
            <div class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-visually-hidden">
                        What do you want to do?
                    </span>
                </legend>
                <partial name="_ValidationSummary" model="ViewData.ModelState" />
                <div class="govuk-radios" data-module="govuk-radios">
                    @if (!@Model.IsOrganisationEstablishment || Model.IsOrganisationEstablishmentWithFurtherEducation)
                    {
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="download-security-reports-by-school" asp-for="SelectedAdminOption" type="radio" value="DownloadSecurityReportsBySchool">
                            <label class="govuk-label govuk-radios__label" for="download-security-reports-by-school">
                                Download security reports by a school
                            </label>
                        </div>
                    }

                    @if (@Model.IsAdmin || @Model.IsApprover)
                    {
                        @if (@Model.IsDepartmentUser)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="download-security-reports-by-pupil-or-student" asp-for="SelectedAdminOption" type="radio" value="DownloadSecurityReportsByPupilOrStudent">
                                <label class="govuk-label govuk-radios__label" for="download-security-reports-by-pupil-or-student">
                                    Download security reports by pupil (UPN) or student (ULN) record
                                </label>
                            </div>
                        }
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="download-security-reports-by-organisation" asp-for="SelectedAdminOption" type="radio" value="DownloadSecurityReportsByOrganisation">
                            <label class="govuk-label govuk-radios__label" for="download-security-reports-by-organisation">
                                Download security reports by your organisation
                            </label>
                        </div>

                        @if (@Model.IsAdmin)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="manage-documents" asp-for="SelectedAdminOption" type="radio" value="ManageDocuments">
                                <label class="govuk-label govuk-radios__label" for="manage-documents">
                                    Manage documents
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="admin-continue-button--container">
                <button asp-controller="Admin" asp-action="AdminOptions" id="admin-continue--button" name="continue" value="Continue" class="govuk-button">Continue</button>
            </div>
        </div>
    </form>
</div>